

<body id="body">
    
 
   

    <% include common/header.ejs %>






<div class="col-xl-9.5 col-lg-9 col-md-8 col-sm-6 col-6 myPizzaList">
    
<div class="afterHeader">
    <div class="allPizzas"><div class="allPizzas2"><span>Усі піци</span><span class="amountOfPizzas">8</span></div></div>
    <div class="typesOfPizzas">
        <button class="type" id="1">Усі</button>
        <button class="type" id="2">М'ясні</button>
        <button class="type" id="3">З ананасами</button>
        <button class="type" id="4">З грибами</button>
        <button class="type" id="5">З морепродуктами</button>
        <button class="type" id="6">Вега</button>
    </div>
</div>



    <div class="row" id="pizza_list">

<div class="col-sm-6 col-md-4">
    <div class="thumbnail pizza-card">
        <img src="assets/images/pizza_7.jpg">

        <div class="caption"><h3 id="title" data-new='Нова'><span >Імпреза</h3>
            <h6 class="greyType">М'ясна піца</h6>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            
            <div class="firstColumn">
                <div class="size"><img src="\assets\images\size-icon.svg" class="imgSize">30</div>
                <div class="weight"><img src="\assets\images\weight.svg" class="imgWeight">370</div>
                <div class="price-primary">99</div>
                <div class="grn">грн.</div>   
                <div href="#" class="btnbtn-primary">Купити</div>
            </div>

            <div class="secondColumn">
                <div class="size"><img src="\assets\images\size-icon.svg" class="imgSize">40</div>
                <div class="weight"><img src="\assets\images\weight.svg" class="imgWeight">660</div>
                    <div class="price-default">169</div>
                    <div class="grn">грн.</div>
                    <div href="#" class="btnbtn-default">Купити</div>
            </div> 
                
        </div>
    </div>
</div>



    <div class="col-sm-6 col-md-4">

        <div class="thumbnail pizza-card">                
            <img src="assets/images/pizza_2.jpg">

            <div class="caption"><h3 id="title" data-popular='Популярна'>BBQ</h3>
                <h6 class="greyType">М'ясна піца</h6>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>

                <div class="firstColumn">
                    <div class="size"><img src="\assets\images\size-icon.svg" class="imgSize">30</div>
                    <div class="weight"><img src="\assets\images\weight.svg" class="imgWeight">370</div>
                    <div class="price-primary">99</div>
                    <div class="grn">грн.</div>   
                    <div href="#" class="btnbtn-primary">Купити</div>
                </div>

                <div class="secondColumn">
                    <div class="size"><img src="\assets\images\size-icon.svg" class="imgSize">40</div>
                    <div class="weight"><img src="\assets\images\weight.svg" class="imgWeight">660</div>
                        <div class="price-default">169</div>
                        <div class="grn">грн.</div>
                        <div href="#" class="btnbtn-default">Купити</div>
                </div> 

            </div>
        </div>
    </div>


    <div class="col-sm-6 col-md-4">
        <div class="thumbnail pizza-card">
            <img src="assets/images/pizza_3.jpg">

            <div class="caption"><h3 class="title">Маргарита</h3>
                <h6 class="greyType">М'ясна піца</h6>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>

                <div class="firstColumn">
                    <div class="size"><img src="\assets\images\size-icon.svg" class="imgSize">30</div>
                    <div class="weight"><img src="\assets\images\weight.svg" class="imgWeight">370</div>
                    <div class="price-primary">99</div>
                    <div class="grn">грн.</div>   
                    <div href="#" class="btnbtn-primary">Купити</div>
                </div>

                <div class="secondColumn">
                    <div class="size"><img src="\assets\images\size-icon.svg" class="imgSize">40</div>
                    <div class="weight"><img src="\assets\images\weight.svg" class="imgWeight">660</div>
                        <div class="price-default">169</div>
                        <div class="grn">грн.</div>
                        <div href="#" class="btnbtn-default">Купити</div>
                </div> 

            </div>
        </div>
    </div>


    <div class="col-sm-6 col-md-4">
        <div class="thumbnail pizza-card">
            <img src="assets/images/pizza_4.jpg">

            <div class="caption"><h3 class="title">Россо Густо</h3>
                <h6 class="greyType">Піца з морепродуктами</h6>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>

                <div class="firstColumn">
                    <div class="size"><img src="\assets\images\size-icon.svg" class="imgSize">30</div>
                    <div class="weight"><img src="\assets\images\weight.svg" class="imgWeight">370</div>
                    <div class="price-primary">99</div>
                    <div class="grn">грн.</div>   
                    <div href="#" class="btnbtn-primary">Купити</div>
                </div>

                <div class="secondColumn">
                    <div class="size"><img src="\assets\images\size-icon.svg" class="imgSize">40</div>
                    <div class="weight"><img src="\assets\images\weight.svg" class="imgWeight">660</div>
                        <div class="price-default">169</div>
                        <div class="grn">грн.</div>
                        <div href="#" class="btnbtn-default">Купити</div>
                </div> 

            </div>
        </div>
    </div>


    <div class="col-sm-6 col-md-4">
        <div class="thumbnail pizza-card">
            <img src="assets/images/pizza_5.jpg">

            <div class="caption"><h3 class="title">Сициліано</h3>
                <h6 class="greyType">Піца з морепродуктами</h6>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>

                <div class="firstColumn">
                    <div class="size"><img src="\assets\images\size-icon.svg" class="imgSize">30</div>
                    <div class="weight"><img src="\assets\images\weight.svg" class="imgWeight">370</div>
                    <div class="price-primary">99</div>
                    <div class="grn">грн.</div>   
                    <div href="#" class="btnbtn-primary">Купити</div>
                </div>

                <div class="secondColumn">
                    <div class="size"><img src="\assets\images\size-icon.svg" class="imgSize">40</div>
                    <div class="weight"><img src="\assets\images\weight.svg" class="imgWeight">660</div>
                        <div class="price-default">169</div>
                        <div class="grn">грн.</div>
                        <div href="#" class="btnbtn-default">Купити</div>
                </div> 

            </div>
        </div>
    </div>


    <div class="col-sm-6 col-md-4">
        <div class="thumbnail pizza-card">
            <img src="assets/images/pizza_6.jpg">

            <div class="caption"><h3 class="title">Мікс смаків</h3>
                <h6 class="greyType">Піца з морепродуктами</h6>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>

                <div class="firstColumn">
                    <div class="size"><img src="\assets\images\size-icon.svg" class="imgSize">30</div>
                    <div class="weight"><img src="\assets\images\weight.svg" class="imgWeight">370</div>
                    <div class="price-primary">99</div>
                    <div class="grn">грн.</div>   
                    <div href="#" class="btnbtn-primary">Купити</div>
                </div>

                <div class="secondColumn">
                    <div class="size"><img src="\assets\images\size-icon.svg" class="imgSize">40</div>
                    <div class="weight"><img src="\assets\images\weight.svg" class="imgWeight">660</div>
                        <div class="price-default">169</div>
                        <div class="grn">грн.</div>
                        <div href="#" class="btnbtn-default">Купити</div>
                </div> 

            </div>
        </div>
    </div>


        <div class="col-sm-6 col-md-4">
            <div class="thumbnail pizza-card">
                <img src="assets/images/pizza_1.jpg">

                <div class="caption"><h3 class="title">Міксовий поло</h3>
                    <h6 class="greyType">М'ясна піца</h6>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>

                    <div class="firstColumn">
                        <div class="size"><img src="\assets\images\size-icon.svg" class="imgSize">30</div>
                        <div class="weight"><img src="\assets\images\weight.svg" class="imgWeight">370</div>
                        <div class="price-primary">99</div>
                        <div class="grn">грн.</div>   
                        <div href="#" class="btnbtn-primary">Купити</div>
                    </div>
    
                    <div class="secondColumn">
                        <div class="size"><img src="\assets\images\size-icon.svg" class="imgSize">40</div>
                        <div class="weight"><img src="\assets\images\weight.svg" class="imgWeight">660</div>
                            <div class="price-default">169</div>
                            <div class="grn">грн.</div>
                            <div href="#" class="btnbtn-default">Купити</div>
                    </div> 

                </div>
            </div>
        </div>


    <div class="col-sm-6 col-md-4">
        <div class="thumbnail pizza-card">
            <img src="assets/images/pizza_8.jpg">

            <div class="caption"><h3 class="title">Дольче Маре</h3>
                <h6 class="greyType">Піца з морепродуктами</h6>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>

                <div class="firstColumn">
                    <div class="size"><img src="\assets\images\size-icon.svg" class="imgSize">30</div>
                    <div class="weight"><img src="\assets\images\weight.svg" class="imgWeight">370</div>
                    <div class="price-primary">99</div>
                    <div class="grn">грн.</div>   
                    <div href="#" class="btnbtn-primary">Купити</div>
                </div>

                <div class="secondColumn">
                    <div class="size"><img src="\assets\images\size-icon.svg" class="imgSize">40</div>
                    <div class="weight"><img src="\assets\images\weight.svg" class="imgWeight">660</div>
                        <div class="price-default">169</div>
                        <div class="grn">грн.</div>
                        <div href="#" class="btnbtn-default">Купити</div>
                </div> 

            </div>
        </div>
    </div>


    <div class="col-sm-6 col-md-4">
        <div class="thumbnail pizza-card">
            <img src="assets/images/pizza_9.jpg">

            <div class="caption"><h3 class="title">Thumbnail label</h3>
                <h6 class="greyType">Піца з морепродуктами</h6>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>

                <div class="firstColumn">
                    <div class="size"><img src="\assets\images\size-icon.svg" class="imgSize">30</div>
                    <div class="weight"><img src="\assets\images\weight.svg" class="imgWeight">370</div>
                    <div class="price-primary">99</div>
                    <div class="grn">грн.</div>   
                    <div href="#" class="btnbtn-primary">Купити</div>
                </div>

                <div class="secondColumn">
                    <div class="size"><img src="\assets\images\size-icon.svg" class="imgSize">40</div>
                    <div class="weight"><img src="\assets\images\weight.svg" class="imgWeight">660</div>
                        <div class="price-default">169</div>
                        <div class="grn">грн.</div>
                        <div href="#" class="btnbtn-default">Купити</div>
                </div> 

            </div>
        </div>
    </div>

</div>






</div>



<div class="col-xl-2.5 col-lg-3 col-md-4 col-sm-6 col-6" id="sidePanel">
   <div id="topDiv">
        
    
        <div class="zamovRow">
                <div class="zamovAndAmount">
                    <p1 class="zamov">Замовлення</p1>
                    <span class="amountZamov">3</span>
                </div>
            <button class="cleanZamov">Очистити замовлення</button>
        </div>
   
   
    </div> 


   <div class="middleDiv" id="cart">
    
    <div id="somePizza">

                    <p id="somePizzaName">BBQ (Мала)</p>
                    <span class="size" id="somePizzaSize"><img src="\assets\images\size-icon.svg" class="imgSize">30</span>
                    <span class="weight" id="somePizzaWeight"><img src="\assets\images\weight.svg" class="imgWeight">460</span>
                    <div class="priceCounter"> 
                    <span class="price" id="somePizzaPrice">556грн</span>
                    <button class="minus"><i class="iconMinus">-</i></button>
                        <span id="counterBetweenIcons">4</span>
                    <button class="plus">+</button>     
                    <button class="cross">x</button>
                 </div>       

        <img src="assets/images/pizza_2.jpg" id="somePizzaImg">

    </div>

    <div id="somePizza2">

        <p id="somePizzaName">Россо Густо (Мала)</p>
        <span class="size" id="somePizzaSize"><img src="\assets\images\size-icon.svg" class="imgSize">30</span>
        <span class="weight" id="somePizzaWeight"><img src="\assets\images\weight.svg" class="imgWeight">400</span>
        <div class="priceCounter"> 
        <span class="price" id="somePizzaPrice">189грн</span>
        <button class="minus"><i class="iconMinus">-</i></button>
        <span id="counterBetweenIcons">1</span>
        <button class="plus">+</button>     
        <button class="cross">x</button>
     </div>       

<img src="assets/images/pizza_4.jpg" id="somePizzaImg">

</div>


<div id="somePizza3">

<p id="somePizzaName">Міксовий Поло (Велика)</p>
<span class="size" id="somePizzaSize"><img src="\assets\images\size-icon.svg" class="imgSize">40</span>
<span class="weight" id="somePizzaWeight"><img src="\assets\images\weight.svg" class="imgWeight">780</span>
<div class="priceCounter"> 
<span class="price" id="somePizzaPrice">179грн</span>
<button class="minus"><i class="iconMinus">-</i></button>
<span id="counterBetweenIcons">1</span>
<button class="plus">+</button>     
<button class="cross">x</button>
</div>       

<img src="assets/images/pizza_1.jpg" id="somePizzaImg">

</div>



   </div>


   <div id="bottomDiv">
    <div class="sumazamovRow">
        <p1 class="sumaZamov">Сума замовлення</p1>
        <p1 class="priceZam">924 грн</p1>   
    </div>
    <a href="http://localhost:5050/order.html"><button class="zamovutu">Замовити</button></a>
</div> 

</div>






<% include common/footer.ejs %>





</body>

