<div id='shownCart'>
    <div id='BuyMenu'>
        <h2 id=h2YourOrder>
            Ваше замовлення
        </h2>
        <div id='FullCartBlock'>
            
            <div id='total'></div>
        </div>
        <div class="InputName">
            
                <p class="line" id="nameId"><b>Ім'я та прізвище замовника</b><p>
            
            <input type="text" class="InputField" id="NameField" placeholder="Новік Катерина">

            <p id="nameError"></p>

        </div>
        <div class="InputNum">
            
              <p class="line" id="numId"><b>Контактний номер замовника</b></p>
            
            <input type="text" class="InputField" id="PhoneField" placeholder="+380990999999">
            <p id="phoneError"></p>
        </div>
       
  
        <div class="InputNum">
               
                <p class="line" id="aId"><b>Населений пункт</b></p>  
  
            <input type="text" class="InputField" id="1" placeholder="Київ">
            <p id="addressError"></p>
        </div>
       
        <p></p>
        <button class="buyZamov" id="submit-order">КУПИТИ</button>
    </div>
  </div>
  <!-- jQuery JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>

<!--Bootsrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!--Own JavaScript -->
<script type="text/javascript"  src="assets/js/main.js"> </script>
  
 <!-- Bootsrap CSS -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

 <!-- LESS основний файл -->
 <link rel="stylesheet/less" type="text/css" href="assets/less/main.less" />
 <!-- LESS JavaScript компілятор -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>