<div id='shownCart'>
    <div id='BuyMenu'>
        <h2 id=h2YourOrder>
            Ваше замовлення
        </h2>
        <div id='FullCartBlock'>
            
            <div id='total'></div>
        </div>
        <div class="InputName">
            
                <p class="line"><b>ПІБ замовника</b><p>
            
            <input type="text" class="InputField" id="NameField" placeholder="Іванов Іван Іванович">
        </div>
        <div class="InputNum">
            
              <p class="line"><b>Контактний номер замовника</b></p>
            
            <input type="text" class="InputField" id="PhoneField" placeholder="+380990999999">
        </div>
        <div class="InputEmail">
           
              <p class="line"><b>E-mail</b></p>
            
            <input type="text" class="InputField" id="EmailField" placeholder="IvanIvanov@ukr.net">
        </div>
  
     
       
  
        <div class="InputNum">
               
                <p class="line"><b>Населений пункт</b></p>  
  
            <input type="text" class="InputField" id="1" placeholder="Київ">
        </div>
        <div class="InputNum">
  
          <p class="line"><b>Номер відділення Нової Пошти</b></p>  
            
            <input type="text" class="InputField" id="2" placeholder="5">
        </div>
        <p></p>
        <button class="buyZamov">купити</button>
    </div>
  </div>
  <!-- jQuery JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>

<!--Bootsrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!--Own JavaScript -->
<script type="text/javascript"  src="assets/js/main.js"> </script>
  