<body id="body">
    <div class="contentBody">
    
 
   

    <% include common/header.ejs %>






<div class="col-xl-9.5 col-lg-9 col-md-8 col-sm-6 col-xs-6 myPizzaList">
    
<div class="afterHeader">
    <div class="allPizzas"><div class="allPizzas2"><span>Усі піци</span><span class="amountOfPizzas">8</span></div></div>
    <div class="typesOfPizzas">
        <button class="type" id="1">Усі</button>
        <button class="type" id="2">М'ясні</button>
        <button class="type" id="3">З ананасами</button>
        <button class="type" id="4">З грибами</button>
        <button class="type" id="5">З морепродуктами</button>
        <button class="type" id="6">Вега</button>
    </div>
</div>



    <div class="row" id="pizza_list">





   </div>


   <div id="bottomDiv">
    <div class="sumazamovRow">
        <p1 class="sumaZamov">Сума замовлення</p1>
        <p1 class="priceZam">924 грн</p1>   
    </div>
    <a href="http://localhost:5050/order.html"><button class="zamovutu">Замовити</button></a>
</div> 

</div>
<div class="col-xl-2.5 col-lg-3 col-md-4 col-sm-6 col-xs-6 col-6" id="sidePanel">
    <div id="topDiv">
         
     
         <div class="zamovRow">
                 <div class="zamovAndAmount">
                     <p1 class="zamov">Замовлення</p1>
                     <span class="amountZamov">3</span>
                 </div>
             <button class="cleanZamov">Очистити замовлення</button>
         </div>
    
    
     </div> 
 
 
    <div class="middleDiv" id="cart">
     
     
 
    
 
 
 
 
 
 
    </div>

 
    <div id="bottomDiv">
     <div class="sumazamovRow">
         <p1 class="sumaZamov">Сума замовлення</p1>
         <p1 class="priceZam">924 грн</p1>   
     </div>
     <a href="http://localhost:3050/order.html"><button class="zamovutu">Замовити</button></a>
 </div> 
 
 </div>





</div>
<% include common/footer.ejs %>





</body>