<% include common/header.ejs %>

<div class="container-fluid col-lg-9 col-md-8 col-sm-7 col-xs-6 order-container">
    <h3>1.Контактні дані</h3>
    <div class="form-group">
        <label for="exampleInputEmail1" id="name">Ім'я</label>
        <input type="text" name="name" class="form-control" id="exampleInputName1" placeholder="Ім'я та прізвище" required>
        <label id="nameError"></label>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1" id="phone">Телефон</label>
        <input type="text" name="phone" class="form-control" id="exampleInputPhone1" placeholder="+3807894532" required>
        <label id="phoneError"></label>
    </div>
    <div class="form-group">
        <label for="exampleInputAddress1" id="address">Адреса</label>
        <input type="text" name="address" class="form-control" id="exampleInputAddress1" placeholder="м.Київ" required>
        <label id="addressError"></label>
        <div class="map-address">

        </div>
    </div>
    <div class="order-info">
        <br>
        <span>
            <b>Приблизний час доставки:</b> <span id="delivery-time"></span>
        </span>
        <br/>
        <span>
            <b>Адреса доставки</b> <span id="delivery-address"></span>
        </span>
        <div id="button_div">
            <button type="submit" class="btn btn-warning" id="submit-order">Замовити</button>
        </div>
    </div>
    <div id="map"></div>
    <!-- місце для віджету -->
    <div id="liqpay"></div>
    <!-- піключаємо скрипт -->
    <script src="//static.liqpay.ua/libjs/checkout.js" async></script>
</div>
<script src="assets/js/map.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASsee3EkOJxafgqhNEQlmyO6Aen5m0tRc&callback=initMap&libraries=&v=weekly"
    async
></script>


  <!-- jQuery JavaScript -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>
    
  <!--Bootsrap JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  
  <!--Own JavaScript -->
  <script type="text/javascript"  src="assets/js/main.js"> </script>