
<div class="footerFlag">
    <div class="bottomFlagDiscount">
        <img src="\assets\images\discount.svg" class="flagBottom">
              <p class="this">ЦЬОГО</p>
              <p class="week">ТИЖНЯ</p>
              <p class="for">НА</p>
              <p class="All">ВСЕ</p>
              <p class="discount">-20%</p>
    </div> 
    </div>
    <footer class="footer">
        <p class="p1">Pizza.22 - практичний проект в межах курсу JavaScript в Києво-Могилянській Академії</p>
        <p class="p1">Доставка піци не здійснюється</p>
    </footer>
    
    
    <!-- jQuery JavaScript -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>
    
    <!--Bootsrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    
    <!--Own JavaScript -->
    <script type="text/javascript"  src="assets/js/main.js"> </script>
    
    </html>